.logo {
    height: 40px;
    margin: 15px
}

.NavBar {
    background-color: beige;
    display: flex;
    flex-direction:column;
    position: sticky;
}

.inicio {
    display: flex;
    flex-direction:row;
}